{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width:600px;">

    <div class="card shadow p-4">

        <h2 class="text-center mb-4">
            Create Account
        </h2>

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Full Name</label>

                <input
                    type="text"
                    name="name"
                    class="form-control"
                    required>
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>

                <input
                    type="password"
                    name="password"
                    class="form-control"
                    required>
            </div>

            <div class="mb-3">

                <label class="form-label">
                    Role
                </label>

                <select
                    name="role"
                    class="form-select">

                    <option value="Student">Student</option>
                    <option value="Organization">Organization</option>
                    <option value="Super Admin">Super Admin</option>

                </select>

            </div>

            <button
                type="submit"
                class="btn btn-primary w-100">

                Register

            </button>

        </form>

    </div>

</div>

{% endblock %}